---
layout: default
---

{% include page-intro.html %}

<main id="main" class="page-content" aria-label="Content">
  <div class="index inner">
    <div>{{ content }}</div>

    <div>
      <header class="section-title">
        <h2>{{ site.data.theme.t.posts | default: 'Archives' }}</h2>
      </header>
      <div class="entries">
          {% for post in site.posts %}
              {% if post.categories.sort == page.categories.sort %}
                  {% include entry.html %}
              {% endif %}
          {% endfor %}
      </div>
    </div>

    {% include footer.html %}
  </div>
</main>
