---
layout: default
---
{% assign category = page.dir | split: "/" | last %}

{% include page-intro.html %}

<main id="main" class="page-content" aria-label="Content">
  <div class="index inner">
    <div>{{ content }}</div>

    <div>
      <header class="section-title">
        <h2>{{ site.data.theme.t.posts }}</h2>
      </header>
      <div class="entries">
          {% for post in site.categories[category] %}
              {% include entry.html %}
          {% endfor %}
      </div>
    </div>

    {% include footer.html %}
  </div>
</main>
